## Final Project Submission

Please fill out:
* Student name: Brian Kanyenje
* Student pace: part time
* Scheduled project review date/time: 24/01/2025
* Instructor name: Veronica Isiaho
* Blog post URL:

# MICROSOFT MOVIE STUDIO INSIGHT

## Introduction

With many different companies getting into the movie industry, Microsoft has also decided to join the movement by creating its own film studio. However, asg a tech company with little to no knowledge when it comes to the film industry, Microsoft is faced with significant challenges such as: 
* identifying the types of films currently performing well
* understanding the factors that make a film successful

This project will solve these problems by analyzing the current trends in the film industry and translating those insights into tangible recommendationsi in order to make Microsoft's debut into the film industry successful. By examining what films and genres are rated higly as well as gross highly, he research will provide integral insight into the ingredients that make a film studio successful. All this tanslates to the amount of returns generated by the film studio.

The primary stakeholders of this project are the head of Microsoft's film studio and the production team. The insight generated by this project will guide the heads of the film industry to make informed decisions that will ensure the films produced align with the market demand. The insight will also be used by the production team in order to know which genres to capitalize on and which production styles to use. 

In conclusion, this project is very fundamental to Microsoft as it will provide important insight that will make their insertion into the film industry successful.

## Data Overview

**Data** is the most important part of the project since it's what will be used to provide insight and recommendations. In this project the data files that will be used are:
* imdb.title.basics
* imdb.title.ratings
* bom.movie_gross 

These files come from movie datasets:
* Box Office - This dataset provides data on how much revenue movies earn through ticket sales. This data is a direct measure of the commercial success of the films. It will provide insight for deciding the genres.
* IMDB - This database contains data about the user ratings, reviews and production details. It ise used to generate feedback about a certain film. 
* Rotten Tomatoes - This database contains information about how well a movie was received. It is used to gauge a movie's overall quality in terms of user rating and criticism
* The MovieDB - This database contains information on ratings, reviews, trailers, and images.
* The Numbers - This database provides detailed information on box office performance, film production budgets, and financial aspects of the movie industry. It tracks the financial success of films and gives insights into their profitability, including revenue from domestic and international markets.

These data sources are relevant to the project since they will provide useful insight on what makes the films successful in terms of the revenue generated by the films, their overall rating and reviews and the production details. Information such as genre popularity, user ratings and financial performance will aid Microsoft in making an infomrmed decision on te type of films to produce.

   ### a) imdb.title.basics

Firstly, we will check what this datafile contains. This can be done by converting the data into a Pandas DataFrame.

In [5]:
# Importing pandas library for data analysis and manipulation
import pandas as pd
# Importing the csv module in order to work with csv files
import csv
# Importing the gzip module, which allows working with files compressed in gzip format
import gzip
# This will extract the file and convert it into a pandas dataframe named basics
# the compression parameter specifies that the file is compressed using gzip 
basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz', compression ='gzip')

After the data has been converted into a pandas dataframe, the first five rows can be viewed using `.head() method`

In [4]:
basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

This file contains the basic information on the films including their title, start year, runtime_minutes and their respective genres.

`.describe()` will be used to get the descriptive statistics of the dataframe.

In [6]:
# this generates the descriptive statistics of a dataframe
basics.describe()

          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

In [ ]:
ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz', compression ='gzip')
gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz', compression ='gzip')

In [3]:
with gzip.open('zippedData/imdb.title.basics.csv.gz', mode='rt', encoding='utf-8') as f:
    df = csv.DictReader(f)
    title = list(df)

In [4]:
with gzip.open('zippedData/imdb.title.ratings.csv.gz', mode='rt', encoding='utf-8') as f:
    df1 = csv.DictReader(f)
    ratings = list(df1)

In [5]:
with gzip.open('zippedData/bom.movie_gross.csv.gz', mode='rt', encoding='utf-8') as f:
    df = csv.DictReader(f)
    gross = list(df)

In [6]:
titles = [i['primary_title'] for i in title]

In [11]:
gross1 = []
for j in gross:
    if j['title'] in titles:
        gross1.append(j['title'])
len(gross1)

2606

In [53]:
ratings.head().sort_values(by='tconst')

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [54]:
gross.head().sort_values(by='foreign_gross', ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
0,Toy Story 3,BV,415000000.0,652000000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010